{% extends "_base" %}

{% set display = craft.entries().section('storefrontDisplay').title('Demo').one() %}

{% block content %}  
    <div class='gallery'>
        {% if display %}
            {% set bookmarks = display.bookmarkList.all() %}
            {% set bookmarksCount = bookmarks|length %}
            {% set bookmarkCounter = 1 %}
            
            {% for bookmark in bookmarks %}
                {% set bookmarkDrawing = bookmark.imageDrawing.one() %}
                {% set bookmarkPhoto = bookmark.photoHd.one() %}
                <div class='gallery-item'>
                    <div class='gallery-item-detail'>
                        <p class='gallery-item-detail-title'>{{ bookmark.title }}</p>
                        {% if bookmarkDrawing and bookmarkDrawing.extension == 'svg' 
                                and bookmarkPhoto %}
                            <div class='gallery-item-detail-note'>
                                <p>Loading hd image</p>
                                <!-- https://codepen.io/nikhil8krishnan/pen/rVoXJa -->
                                <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    enable-background="new 0 0 0 0" xml:space="preserve"
                                    style="width: 12px;" viewBox="0 0 40 12">
                                  <circle fill="#000" stroke="none" cx="6" r="6" cy="6">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"></animate>    
                                  </circle>
                                  <circle fill="#000" stroke="none" r="6" cy="6" cx="20">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"></animate>       
                                  </circle>
                                  <circle fill="#000" stroke="none" r="6" cy="6" cx="34">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"></animate>     
                                  </circle>
                                </svg>
                            </div>
                        {% endif %}
                    </div>
                    <div class='gallery-item-display'>
                        {% if bookmarkDrawing and bookmarkDrawing.extension == 'svg' %}
                          {{ svg(bookmarkDrawing)|attr({class: 'gallery-item-display-drawing'}) }}
                        {% endif %}
                        {% if bookmarkPhoto %}
                            <image class="gallery-item-display-photo gallery-item-display--invisible"
                                    src="{{ bookmarkPhoto.url }}"
                                    title="{{ bookmarkPhoto.title }}">
                        {% endif %}
                    </div>
                    <div class="gallery-item-order">
                        <button class="gallery-item-order-add">Add to order</button>
                    </div>
                    {% if bookmarksCount > 1 %}
                        <div class="gallery-item-page">
                            <p>{{bookmarkCounter}} of {{bookmarksCount}}</p>
                            {% if bookmarkCounter > 1 %}
                                <button class="gallery-item-page-control" style="transform: rotate(180deg);">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M8.2 275.4c0-8.6 3.4-17.401 10-24.001 13.2-13.2 34.8-13.2 48 0l451.8 451.8 445.2-445.2c13.2-13.2 34.8-13.2 48 0s13.2 34.8 0 48L542 775.399c-13.2 13.2-34.8 13.2-48 0l-475.8-475.8c-6.8-6.8-10-15.4-10-24.199z"/></svg>
                                </button>
                            {% endif %}
                            {% if bookmarkCounter < bookmarksCount %}
                                <button class='gallery-item-page-control'>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M8.2 275.4c0-8.6 3.4-17.401 10-24.001 13.2-13.2 34.8-13.2 48 0l451.8 451.8 445.2-445.2c13.2-13.2 34.8-13.2 48 0s13.2 34.8 0 48L542 775.399c-13.2 13.2-34.8 13.2-48 0l-475.8-475.8c-6.8-6.8-10-15.4-10-24.199z"/></svg>
                                </button>
                            {% endif %}
                            
                            {% set bookmarkCounter = bookmarkCounter + 1 %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
          <p>No bookmarks found.</p>
        {% endif %}    
    </div>
    {% js "/assets/js/gallery.js" %}
{% endblock %}

